.carousel .carousel-indicators li {
    max-width: 30px;
    height: 10px;
    width: 30px;
    border-radius: 0% !important;
    cursor: pointer;
}
.text-teal{
    color:#00796b;
}
#top-icon{
    margin-top: -140px;
}
.my-text{
    height: auto;
}
.my-text:focus{
    border: 2px solid #4285f4;
}
.card-img{
    margin-top: -60px;
}
.trainer-card:hover{
    background-color: #00796b;
}
.trainer-card:hover h4 , .trainer-card:hover p , .trainer-card:hover .icon {
    color: white;
    cursor: pointer;
}

